*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
app/libs/
app/src/main/java/$ModuleFileDir/
app/src/main/res/drawable/
opus/libs/
opus/src/main/java/
opus/src/main/res/drawable/
